////
/// Ubuntu Patterns Stylesheet
/// The CSS file required by Ubuntu patterns page
/// @project     Ubuntu Patterns
/// @author      Web Team at Canonical Ltd
/// @copyright   2012 Canonical Ltd
/// @see         http://design.ubuntu.com
////

/// standard colors
/// @colordef standard colors

/// assets database path
/// usage: background: url(#{$asset-path}/backgrounds/background.jpg) no-repeat 0 0;


/// grid variables
/// base
/// gutter width
$gutter-width:      20px;
/// gutter
$gutter:            2.12766%;

/// one col
$one-col:           6.38297%;
/// two col
$two-col:           14.89361%;
/// three col
$three-col:         23.40425%;
/// four col
$four-col:          31.91489%;
/// five col
$five-col:          40.42553%;
/// six col
$six-col:           48.93617%;
/// seven col
$seven-col:         57.4468%;
/// eight col
$eight-col:         65.95744%;
/// nine col
$nine-col:          74.46808%;
/// ten col
$ten-col:           82.97872%;
/// eleven col
$eleven-col:        91.48936%;

/// nav background
$nav-bg:            #f0f0f0;
/// nav link colour
$nav-link-color:    #333;
/// nav border dark
$nav-border-dark:   #d4d7d4;
/// nav border light
$nav-border-light:  #f2f2f4;
/// nav hover background
$nav-hover-bg:      #d0d0d0;
/// nav active background
$nav-active-bg:     #ddd;

/// Medium breakpoint
$breakpoint-medium: 'only screen and (min-width: 768px)';

/// Large breakpoint
$breakpoint-large: 'only screen and (min-width: 984px)';

/// Base font size - medium screen
@media only screen and (min-width : 768px) { $base: 15; }

// Base font size - small screen
@media only screen and (min-width: 984px) { $base: 14; }
