@import 'helpers/all';

div.warning {
  @include rounded-corners(4px);
  background-color: #fdffdc;
  color: ud-color(cool-grey);

  p {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width : 768px) {
} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 769px) {
} //@media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {
} // end @media only screen and (min-width: 984px)
